#main > section {
    width: 25%;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-top: 5%;
    min-height: 60vh;
}

#completed h2 {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 150%;
    text-align: center;
    color: #4F4F4F;
}

p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 180%;
    text-align: center;
    color: #4F4F4F;
    opacity: 0.5;
}

button {
    margin-top: 5%;
    padding: 5%;
    width: 90%;
    font-weight: bold;
    font-size: 1rem;
    background: #9e90ff;
    color: white;
    border-radius: 5px;
}

@media only screen and (max-width: 1800px) {
    #main > section {
      width: 40%;
      min-height: 70vh;
    }
  }
  @media only screen and (max-width: 880px) {
    #main > section {
      width: 100%;
      min-height: 60vh;
    }
  }