#main > section {
    display: flex;
    width: 25%;
    font-family: Roboto;
    background: #ffffff;
    min-height: 60vh;
    overflow:auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

#main > section > .box {
    width: 80%;
    margin: auto auto;
    background-color: #f6f6f6;
    border-radius: 10px;
    font-weight: bold;
}

#main > section > img {

    width: 80%;
    margin: 10% 10% 0 10%;
}

#main > section > h3 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: auto;
    color: #4f4f4f;
}

#main > section > .box > .container {
  display: flex;
  margin: 0 5%;
  padding: 4% 0;
  
}

#main > section > .box > .container > h4 {
    text-align: right;
    flex-grow: 2;
}

#main > section > .box > .container > h4:first-child {
    text-align: left
}


#main > section > .box > .container > #purple {
    color: #9E90FF;
}

#main > section > .box > .container > #green {
    color: #6FCF97;
}

#main > section > .box > .container > #red {
    color: #FB7181;
}

#main > section #size_selector {
  margin-top: 10%;
}

  #main > section #size_selector form {
    width: 20%;
  }

  @media only screen and (max-width: 1100px) {
    #size_selector  {
      width: 80%;
    }
  }

  @media only screen and (max-width: 1800px) {
    #main > section {
      width: 40%;
      min-height: 70vh;
    }
}
  @media only screen and (max-width: 880px) {
    #main > section {
      width: 100%;
      min-height: 70vh;
    }
}