#main #edit_products {
    background: #ffffff;
    width: 100%;
    display: block;
    font-family: Roboto;
    border-radius: 40px;
    overflow:auto;
}

#edit_products .box {
    width: 80%;
    margin: 10%;
    border-style: solid;
    border-width: 3px;
    border-color: #f6f6f6;
    border-radius: 10px;
    text-align: left;
    overflow:auto;
  }

#main #edit_products .container{
    display: flex;
    margin-top: 5%;
    align-items: center;
    text-align: left;
}

#main #edit_products .box > * {
    margin: 2% 5% 2% 5%;
}

#main #edit_products .box > .container > .center {
    display: flex;
    justify-content: center;
    width: 65%;
    margin-right: 5%;
}

#main #edit_products .box > .center {
    display: flex;
    justify-content: center;
    width: 90%;
    margin-bottom: 5%;
}

#main #edit_products .box > .container:first-child{
    margin-top: 10%;
}

#main #edit_products .box > .container > .center > img {
    width: 100%;
}

#main #edit_products .box > .container > div > input{
    width: 95%;
}

#main #edit_products .box > .container > div > div > h3,
#main #edit_products .box > .container > label{
    width: 50%;
}

#main #edit_products .box > .container > div > div > input,
#main #edit_products .box > .container > select{
    width: 45%;
}

#main #edit_products .container input, select, textarea {
    border-style: solid;
    border-width: 1px;
    border-color: #4f4f4f;
    border-radius: 5px;
}

#main #edit_products .container label, h3 {
    font-size: small;
    margin-right: 5%;
}

#main #edit_products .box > .container > button{
    flex-grow: 2;
    background: #9e90ff;
    border-style: solid;
    border-width: 2px;
    border-color: #9e90ff;
    border-radius: 5px;
    font-weight: bold;
    color: white;
    margin: 5%;
    padding: 3%;
}

#main #edit_products .box > .container > button:first-child{
    background: white;
    color: #9e90ff;
}

#main #edit_products > section > form > input {
    background: #9e90ff;
    width: 80%;
    border-style: solid;
    border-width: 2px;
    border-color: #9e90ff;
    border-radius: 5px;
    font-weight: bold;
    color: white;
    margin-top: 5%;
    padding: 3%;
}

/*
@media only screen and (max-width: 1800px) {
    #main > section {
      width: 40%;
      min-height: 70vh;
    }
}
  @media only screen and (max-width: 880px) {
    #main > section {
      width: 100%;
      min-height: 60vh;
    }
}
*/