#main > section {
  display: block;
  width: 25%;
  font-family: Roboto;
  background: #ffffff;
  min-height: 60vh;
  overflow:auto;
}

#main .container {
  display: flex;
  margin: 0 5% 0 5%;
  padding-bottom: 4%;
  justify-content: center;
}

#main .box .container:first-child {
    padding-top: 5%;
  }

#main .box {
  width: 80%;
  margin: 10%;
  border-style: solid;
  border-width: 3px;
  border-color: #f6f6f6;
  border-radius: 10px;
  text-align: left;
}

#main .new {
  border-color: #9e90ff;
}

#main h4 {
  order: 1;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: large;
  color: #4f4f4f;
  padding: auto 5% 2% 0%;
  flex-grow: 2;
}

#main h3 {
  order: 1;
  flex-grow: 2;
  font-family: Roboto;
  font-style: normal;
  opacity: 0.7;
}

#main h5 {
  text-align: right;
  order: 2;
  flex-grow: 2;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
}

#main > section > h3 {
  margin-top: 20%;
}

#main button {
  background-color: white;
  background: #9e90ff;
  border-radius: 5px;
  font-weight: bold;
  align-self: center;
  color: white;
  order: 2;
}
#main button h4 {
    color: white;
  }
  @media only screen and (max-width: 1800px) {
    #main > section {
      width: 40%;
      min-height: 70vh;
    }
}
  @media only screen and (max-width: 880px) {
    #main > section {
      width: 100%;
      min-height: 70vh;
    }
}