#size_selector {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 0 auto;
  }
  #size_selector > div {
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: 1px solid #e4d3fa;
    background: white;
    z-index: 2;
    margin: 0 auto;
  }

  #size_selector div div {
    background-color:rgba(158, 144, 255, 0.1);
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-grow: 1;
    align-items: center;
    height: 100%;
    border-left: 1px solid #e4d3fa;
    border-right: 1px solid #e4d3fa;
    padding: 1% 1%;
  }
  #size_selector #decrease {
    border-radius:  5px 0 0 5px;

  }
  #size_selector #increase {   
    border-radius: 0 5px 5px 0 ;
  }
  #size_selector button {
    font-size: 1.5rem;
    align-self:center;
    font-weight: normal;
    background-color: white;
    text-align: center;
    padding: 0;
    margin: auto 0;  
    width: 20%;
    height: 100%;
  }

  #size_selector img {
    padding: 0 1.5%;
   
    width: 15%;
    height: auto;
  }