body {
  padding: 0;
  height: 100%;
  margin: 0 auto;
  background: #f6f6f6;
  overflow-x: hidden;
}

#header {
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 99;
}
#header > div:first-child {
  width: 100%;
  display: flex;
  padding: 1% 0;
  justify-content: center;
  align-items: center;
}
#header > div:nth-child(2) {
  width: 100%;
  display: flex;
  align-items: center;
  padding-bottom: 1%;
  padding-top: 1%;
}
#header > div:nth-child(2) > button {
  width: auto;
  text-align: right;
  margin-left: auto;
  margin-right: 5%;
  padding: 0;
  background-color: #fff;
  vertical-align: middle;
}
#header > div:nth-child(2) > button > img {
  text-align: center;
  padding: 0 auto;
  width: 24px;
  vertical-align: middle;
}
#filters {
  visibility: hidden;
}
h2 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  color: #4f4f4f;
}
header svg {
  stroke: #4f4f4f;
  stroke-width: 2;
}

/* main logo */
#header > div:nth-child(1) > img {
  width: 5%;
  height: auto;
  margin: 0 auto ;
}
#header div > svg:first-child {
  margin-left: 5%;
}

#header div > div {
  margin-right: 5%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
#header div > div > img{
  width: 30%;
}
#header div > h2 {
  margin-left: 2%;
  font-size: 1.8rem;
}

body > h2 {
  text-align: center;
}

#main > section {
  background: #f6f6f6;
  border-radius: 35px;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 3%;
  padding-top: 3%;
}

#main {
  padding-top: 3%;
  background: transparent;
}

/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 99; /* Stay on top */
  left: 0;
  background-color: white;
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  font-family: Roboto;
  font-style: normal;
  letter-spacing: -0.3px;
  color: #4f4f4f;
  display: block;
  transition: 0.1s;
  text-decoration: none;
  padding: 1% 0 1% 8%;
  font-size: 1.3rem;
}
.sidenav > div {
  display: flex;
  align-items: center;
  justify-content: left;
}

.sidenav > div > h4{
  background: #B8EBCC;
  border-radius: 7.5px;
  font-family: Roboto;
  font-style: normal;
  text-align: center;
  font-weight: bold;
  letter-spacing: 0.3px;
  color: #4f4f4f;
  display: block;
  transition: 0.1s;
  text-decoration: none;
  padding: 0.3% 0.8%;
  margin-left: 2%;
  font-size: 0.6rem;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  margin-top: 3%;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left 0.5s;
}


#footer {
  background-color: #E4E4E4;
  border-radius: 35px;
  text-align: center;
  width: 100%;
}

#footer > * {
  display: block;
  text-align: center;
}

#footer > div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#footer > div > * {
  display: inline-flex;
  vertical-align: middle;
}

#footer > section > img {
  cursor: pointer;
  padding-left: 30px;
}

#footer > section > img:nth-child(1) {
  padding-left: 0px;
}

#footer > img {
  display: block;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}

#footer span {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  color: #979797;
  width: auto;
}

#footer > div > img {
  width: 7%;
  height: auto;
  margin: 30px auto;
}

#footer > div:first-child > img:nth-child(2) {
  width: 10%;
}

#footer > div > img:nth-child(1) {
  margin-left: 5%;
}

#footer > div > img:last-child {
  margin-right: 5%;
}

#footer > div:first-child > img:first-child {
  transform: rotate(28.99deg);
}

#footer > div:first-child > img:last-child {
  transform: matrix(-0.87, 0.48, 0.48, 0.87, 0, 0);
}

#footer > div:last-child > img:first-child {
  transform: rotate(-25.23deg);
}

#footer > div:last-child > img:last-child {
  transform: matrix(-0.87, -0.5, -0.5, 0.87, 0, 0);
}
#main .empty_cart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#main .empty_cart img {
  width: 80%;
}
#main .empty_cart h3 {
  font-family: Roboto;
  font-style: normal;
  font-size: 2rem;
  font-weight: bold;
  color: #4f4f4f;
  margin-top: 10%;
}
#main .empty_cart button {
  margin-top: 5%;
  padding: 5%;
  width: 90%;
  font-weight: bold;
  font-size: 1rem;
  background: #9e90ff;
  color: white;
  border-radius: 5px;
}
#main .error_page {
  margin: 0 auto;
  width: 25%;
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #54556E;
  border-radius: 35px;
  
}
#main .error_page section p{
  
  color: white;
  text-align: center;
  padding-top: 15%;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
}
#main .error_page section{
  
  background: url(../img/mix/error_duck.php.png);
  background-size:100%;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  min-height: inherit;
}


@media only screen and (max-width: 1100px) {

  #header > div:first-child {
    padding: 2.5% 0;
  }
  /* main logo */
  #header > div > img {
    width: 15%;
  }
  #header div > div > img{
    width: 30%;
    height:auto;
  
  }
  #header div:nth-child(2) {
    padding-bottom: 2%;
  }
  #main {
    padding-top: 7%;
    padding-bottom: 7%;
  }
  #main > section { 
    padding-bottom: 5%;
    padding-top: 5%;
  }
  
  .sidenav {
    background: white center/cover url(../img/mix/svg/drawer_circles.svg) no-repeat;
  }

  .sidenav > div > h4{
    letter-spacing: 0.3px;
    padding: 0.7% 2%;
    margin-top: 1%;
    margin-left: 5%;
    font-size: 0.6rem;
  }

  .sidenav a {
    padding: 3% 0 3% 7%;
    font-weight: bold;
    font-size: 1.5rem;
    transition: 0.3s;
  }
  #footer {
    margin-top: 10%;
  }

  #footer > div {
    padding: 2.5% 0;
  }

  #footer > div > img {
    width: 12%;
    height: auto;
    margin: 30px auto;
  }
  
  #footer > div:first-child > img:nth-child(2) {
    width: 20%;
  }
  #main .empty_cart h3 {
    font-size: 1.5rem;
    margin-top: 10%;
  }
  #main .error_page {
    width: 100%;
    min-height: 70vh;
  }

}
