body {
  background: white;
}
#main {
  border-radius: 35px;
  z-index: 2;
  background: #f6f6f6;
  padding-top: 0%;
}

#main > section {
  min-height: 60vh;
  width: 50%;
  display: flex;
  justify-content: center;
  flex-flow: column;
  flex-direction: row;
  flex-wrap: wrap;
  background: #f6f6f6;
}

.small_product:nth-child(odd) {
  margin-right: 1.5%;
}
.small_product:nth-child(even) {
  margin-left: 1.5%;
}
#vertical_products {
  margin: 0 auto;
}

#vertical_products section {
  text-align: left;
  width: 60%;
}
@media only screen and (max-width: 1800px) {
  #main > section {
    width: 40%;
    min-height: 70vh;
  }
}
@media only screen and (max-width: 880px) {
  #main > section {
    width: 100%;
    min-height: 70vh;
  }
}
